@using Newtonsoft.Json.Linq;
@functions {

}
@model dynamic

@{
    ViewData["Title"] = "My Virtual View";
}

<h2>My View</h2>

<p>Hi @Model.Name. You entered from the Url: <strong>@Model.Path</strong></p>

<p>
    <code>
        @Html.Raw(Model.json)
    </code> 
</p>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
